---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar';
import ToursGrid from '../../components/ToursGrid';
import Footer from '../../components/Footer';
---

<Layout title="Tours | Vibal Tours">
	<Navbar lang="en" client:load />
	<main class="pt-20">
		<ToursGrid lang="en" client:load />
	</main>
	<Footer lang="en" />
</Layout>
